[submodule "subprojects/xdgmime"]
	path = subprojects/xdgmime
	url = https://gitlab.freedesktop.org/xdg/xdgmime.git
[submodule "subprojects/molytho-cpp-utils"]
	path = subprojects/molytho-cpp-utils
	url = https://github.com/Molytho/cpp-utils.git
